Binaries
DerivedDataCache
Intermediate
Saved

Releases
Saved/StagedBuilds

Build

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.DS_Store
*.log
*.dmp

*.opensdf
*.ncb
*.sdf
*.pidb
*.user
*.userprefs